cors:
  origins:
    ciafo: "https://come-in-and-find-out.ch"
server:
  port: 443
spring:
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=256
  datasource:
    url: jdbc:postgresql://postgres:5432/
  jackson:
    default-property-inclusion: NON_EMPTY
  jpa:
    generate-ddl: true
  servlet:
    multipart:
      max-file-size: 4MB
      max-request-size: 64MB