<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}/loki/api/v1/push</url>
        </http>
        <labels>
            app = vault
        </labels>
        <message class="com.github.loki4j.logback.JsonLayout"/>
    </appender>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
    <springProperty name="LOKI_URL" scope="context" source="app.services.loki.url"/>
</configuration>